* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #767976, #282b28);
}
#main {
    background: #1c1f1c;
    padding: 24px;
    border-radius: 14px;
}
#calc {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
#main form input {
    height: 50px;
    width: 50px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 16px;
    margin: 12px;
    cursor: pointer;
}
#r {
    padding: 12px;
}
#backspace {
    color: antiquewhite;
    background-color: rgb(238, 186, 16);
}
#clear {
    color: antiquewhite;
    background-color: rgb(238, 186, 16);
}
#Result {
    color: antiquewhite;
    background-color: rgb(238, 186, 16);
}
#operator {
    color: rgba(255, 0, 0, 0.329);
    font-weight: 800;
}
form #op {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
}
form #op input {
    text-align: right;
    flex: 1;
    font-size: 28px;
}
