@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    overflow: hidden;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffa9d1f8;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    font-size: 2.5em;
    color: #8d2756;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none
}
header .nav{
    position: relative;
    display: flex;
}
header .nav li{
    list-style: none;
    margin: 0 10px;
}
header .nav li a{
    color: #8d2756;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.5s
}
header .nav li a:hover{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
header .btn{
    background: #8d2756;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.5s;
}
header .btn:hover{
    transform: scale(0.9);
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .contentbox{
    max-width: 500px;
}
.content .contentbox h1{
    font-size: 3rem;
    color: black;
    line-height: 0.9em;
    margin: 10px;
}
.content .contentbox p{
    font-size: 15px;
    color: black;
    margin: 30px 10px;
}
.content .contentbox .btn{
    background: #8d2756;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    margin: 10px;
    font-weight: 500;
    transition: 0.5s;
}
.content .contentbox .btn:hover{
    background: #fff;
    color: #8d2756;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.infobox {
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: flex;
}
.infobox .box{
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infobox .box i{
    font-size: 1.2rem;
    color: #8d2756;
    margin: 5px;
}
.infobox .box h4{
    font-size: 1.2rem;
    margin:0 0;
}
.infobox .box p{
    font-size: 12px;
}