/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #50483f;
    background-color: #e7ecf8;
  }
  
  /* Header Styles */
  
  header {
    background: #282c34;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #61dafb;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #4fa3c7;
}

  
  /* About Me Styles */
  
  .about-me {
    padding: 20px;
    text-align: center;
    background: #fff;
  }
  
  .about-me img {
    width: 250px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 10px;
  }
  
  .about-me p {
    font-size: 18px;
    margin-bottom: 10px;
    background: #e7ecf8;
  }
  
  /* Skills Styles */
  
  .skills {
    padding: 40px;
    text-align: center;
    background: #dacece;
  }
  
  .skills h2 {
    text-align: center;
    margin-bottom: 20px;
}

  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    display: inline-block;
    margin-right: 20px;
    background: rgb(248, 219, 165);
  }
  
  .skills li:before {
    content: "✦";
    font-size: 24px;
    color: #50483f;
    margin-right: 10px;
  }
  
  /* Projects Styles */
  
  .projects {
    padding: 40px;
    text-align: center;
  }
  
  .project {
    display: inline-block;
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .project h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .project p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Resume Styles */
  
  #resume {
    background: #f4f4f4;
    padding: 40px 0;
    text-align: center;
    font-size: 1.2rem;
}

#resume a {
    background: #4fa3c7;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

#resume a:hover {
    text-decoration: underline;
}
  
  /* Contact Styles */
  #contact {
    padding: 40px 0;
    text-align: center;
    font-size: 1.2rem;
}

#contact p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#contact a {
    color: #2e6777;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
  
  /* Footer Styles */
  footer {
    background: #282c34;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
